<h3>All Recent Tweets from <%= @user.username %></h3>

<ul>
<% @user.tweets.order("tweet_time DESC").limit(10).each do |tweet| %>
  <li>[<%= tweet.tweet_time %>] <%= tweet.tweet %></li>
<%end%>
</ul>

